.thought{
    font-size: 25px;
    background-color:#393E46;
    color: #DFD0B8;
}
.thought-container{
    display: block;
    margin-top: 46px;
    margin-left: 36%;
}
.box-container{
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .box-container {
      flex-direction: column;
      align-items: center;
    }
  
    .thought {
      font-size: 1.2rem;
    }
  }