
.footer-container{
    justify-content: space-evenly;
     background-color: rgba(38, 65, 52, 1);
     color: white;
     display: flex;
     width: 100%;
}
.footer-content{
    margin-left: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #2f4f4f;
}
.footer-info{
    display: flex;
    align-items: center;
    font-size: 26px;
    align-items: center;
    gap: 10px;
}
.footer-paragraph{
}
.footer-icon{
}
.footer-social{
    display: flex;
    margin: 4px;
}

.footer-icon{
    height: 40px;
    width: 40px;
    padding: 2px;
    border-radius: 6px;
}